doctype html
html(class="no-js" lang="")
    head
        meta(charset="utf-8")
        //- title #{title}
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //- link(rel="apple-touch-icon" href="apple-touch-icon.png")
        //- link(rel="stylesheet" href="cs/style.css")
        //- script(src="js/vendor/modernizr-2.8.3.min.js")
    body
        .container
          form(action="/signup", method="POST")

            label(for='name') Name:
            input#name(type="text",placeholder="Enter Name", name="name")

            label(for='username') Username:
            input#username(type="text",placeholder="Enter Username", name="username")

            label(for='email') Email:
            input#email(type="text",placeholder="Enter Email", name="email")

            label(for='password') Password:
            input#password(type="text",placeholder="Enter Password", name="password")

            button(type="submit") Submit
